
<%= form_for [:admin, @article], :html => {:class => 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :title_ko, '국문 제목', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :title_ko, :class => 'form-control', :placeholder => '국문 제목' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title_en, '영문 제목', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :title_en, :class => 'form-control', :placeholder => '영문 제목' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :permalink, '퍼머링크', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :permalink, :class => 'form-control', :placeholder => '퍼머링크' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :author_ko, '저자 이름(국문)', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :author_ko, :class => 'form-control', :placeholder => '저자 이름(국문)' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author_en, '저자 이름(영문)', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :author_en, :class => 'form-control', :placeholder => '저자 이름(영문)' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :color, '글씨 색깔', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :color, :class => 'form-control', :placeholder => '글씨 색깔' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :background_color, '배경 색깔', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :background_color, :class => 'form-control', :placeholder => '배경 색깔' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description_ko, '국문 설명', :class => 'col-md-2 control-label' %>
    <div class="col-md-9">
      <%= f.text_area :description_ko, :class => 'tinymce', :placeholder => 'html', :rows => 40, :cols => 150 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description_en, '영문 설명', :class => 'col-md-2 control-label' %>
    <div class="col-md-9">
      <%= f.text_area :description_en, :class => 'tinymce', :placeholder => 'html', :rows => 40, :cols => 120 %>
    </div>
  </div>




  <div class="form-group">
    <%= f.label :scroll_pos_list_str, '참조 목록 스크롤 위치', :class => 'col-md-2 control-label' %>
    <div class="col-md-9">
      <%= f.text_area :scroll_pos_list_str, :class => 'jsontinymce', :placeholder => 'html', :rows => 40, :cols => 20 %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function(e){
    $(".jsontinymce").each(function() {
      var editor = CodeMirror.fromTextArea($(this).get(0), {
        lineNumbers: true,
        mode: "javascript",
        theme: "base16-dark",
        lineWrapping: true
      });

      editor.setSize(600, 300);
    });

    $(".tinymce").each(function() {
      var editor = CodeMirror.fromTextArea($(this).get(0), {
        lineNumbers: true,
        mode: "htmlmixed",
        theme: "base16-dark",
        lineWrapping: true
      });
    });

  });

</script>